# Example .gitignore file for your config dir.
# An * ensures that everything will be ignored.

# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md
/appdaemon


/themes
/tts

# Ignore folders.
.storage
.cloud
.google.token
.google_fit.token
.Google Fit_google_fit.token

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
.ip_authenticated.yaml
pyhq-config.yaml
mutual.py
/www/upcoming-media-card-images
data/mutual.json
/scripts/hydro_json_hourly.sh
.ps4-games.F8461CD0BBE3_cdb2.json
/pyscript/hydro/__pycache__
config
home-assistant_v2.db
data/private
.vscode
image
fitbit.conf
pyscript/data.json
/custom_components
